.slot-machine {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slot-row {
    display: flex;
    justify-content: center;
    gap: 8px; /* Space between slots */
}

/* This is the animation for rolling effect */
@keyframes roll {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-300px); /* Adjust to make logos roll */
    }
}

.slot-row.spinning .slot img {
    animation: roll 0.5s ease-in-out infinite; /* Smooth continuous spinning */
}

.slot {
    background-color: #fff;
    width: 100px;
    height: 100px;
    border: 12px solid #344099; /* Default border color */
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.slot img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

/* Independent row control */
.row-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Ensure rows span the full width */
}

/* Top row: smaller size */
.row-0 {
    background-color: #38AA97;
    width: 90%; /* Adjust the width for the top row */
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 24px 24px 0px 0px; 
}

/* Middle row: larger size */
.row-1 {
    background-color: #FFAA33;
    width: 100%; /* Adjust the width for the top row */
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 24px;
}

/* Bottom row: smaller size */
.row-2 {
    background-color: #38AA97;
    width: 90%; /* Adjust the width for the top row */
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 0px 0px 24px 24px; 
}


