.rafflePage-container {
    display: flex;
    background-color: black;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
  }
  
  .rafflePage-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 80vw;
    gap: 10px;
  }
  .rafflePage-slotmachine {
    display: flex;
    flex-direction: column;
    background-color: #38AA97 ;
  }
  .rafflePage-header {
    display: flex;
    flex-direction: column;
    background-color: #FF7518;
  }

.rafflePage-body p {
    color: white; /* Make all paragraph text white */
}

.rafflePage-body h3 {
    color: white; /* Make all headers white */
}

.winners-summary table {
    color: white; /* Ensure the text inside the table is white */
}

.winners-summary th, .winners-summary td {
    color: white; /* Ensure both table headers and table data are white */
}

  