.raffleDashboard-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  .content-area {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  .ctrl-grid-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .summary-grid-item,  .winner-grid-item,  .tbl-grid-item  {
    padding: 1rem;
    background: #f0f0f0; /* Light background for items */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: auto; /* Enable scrollbars when content overflows */
    border-radius: 1rem;
  }
  .summary-winner-tbl td{
    text-align: start;
    padding: .5rem 1rem .5rem 1rem;
  }
  .summary-waived-winner-tbl td{
    text-align: start;
    padding: .5rem 1rem .5rem 1rem;
  }
  .raffle-participants-tbl td {
    text-align: start;
    padding: .5rem 1rem .5rem 1rem;
  }
  .raffle-items-tbl td {
    text-align: start;
    padding: .5rem 1rem .5rem 1rem;
  }
  .raffle-winners-tbl td {
    text-align: start;
    padding: .5rem 1rem .5rem 1rem;
  }
  .ctrl-grid-item   {
    display: flex;
    flex-direction: column;
    width: 100vw; /* Example width */
    height: 100vh; /* Example height */
    justify-content: start;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
  }
  .winner-grid-item   {
    display: flex;
    background-color: #fff;
  }
  .summary-grid-item   {
    display: flex;
    background-color: #fff;
  }
  .tbl-grid-item   {
    width: 100vw; /* Example width */
    height: 100vh; /* Example height */
  }
  .navigation-buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
  .ctrl-container-body {
    display: flex;
    height: auto;
    flex-direction: column;
    gap: .5rem;
    padding-right: 1rem ;
  }
  .prize-container-body {
    display: flex;
    height: auto;
    flex-direction: column;
    gap: .5rem;
    padding-right: 1rem ;
  }
  .ctrl-body-start, .ctrl-body-mid, .ctrl-body-end {
    display: flex;
    flex-direction: column;
    border: 3px solid #000;
    padding: 1rem;
  }
  .ctrl-body-start button, .ctrl-body-mid button, .ctrl-body-end button {
    font-size: 16px;
    font-weight: 700;
    padding: 1rem;
  }
  .raffle-ctrl-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    height: auto;
    padding: 1rem;
    background-color: #fff;
    border-radius: 1rem;
  }
  .tbl-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .summary-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .winner-card .winner-name {
    white-space: nowrap; /* Prevents breaking within words */
    word-break: normal;   /* Ensures normal word breaking */
    text-align: center;   /* Centers the text horizontally */
}
.prize-tbl td{
  text-align: start;
    padding: .5rem .5rem .5rem .5rem;
    height: 32px;
    
}
.winner-container-body ul {
  list-style-type: none; /* Remove bullets */
  padding: 0;
}

.winner-container-body li {
  margin-bottom: 0.5rem; /* Add spacing between lines */
  text-align: start;
}

.winner-container-footer .prize-item {
  font-weight: bold;
  font-size: 1.2rem; /* Adjust size */
  color: #000; /* Example color */
  margin-top: 1rem; /* Add some spacing */
  text-align: center; /* Center it in the footer */
}

.body-wrapper-start {
  display: flex;
  flex-direction: row;
}
.body-wrapper-mid {
  display: flex;
  flex-direction: row;
}
.body-wrapper-end {
  display: flex;
  flex-direction: row;
}
.button-wrapper {
  display: flex;
  flex-direction: row;
  gap: .5rem;
  justify-content: center;
}
.prize-dropdown {
  display: flex;
  flex-direction: column;
}

  
  
  
  