.rafflePage-container {
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    justify-content: center;
    align-items: center;
  }
  
  .rafflePage-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
  }
  .rafflePage-slotmachine {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .rafflepage-machine-top1 {
    display: flex;
    background-color: #38AA97 ;
    border: 24px solid #277669;
    border-radius: 24px;
    height: 128px;
    width: 564px;
  }
  .mainlogo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Ensures it takes full width of the container */
    height: 100%; /* Adjust this based on your desired height */
    background-color: transparent; /* Optional: background color */
  }
  .mainlogo-wrapper img {
      max-width: 100%; /* Ensure the image doesn't exceed container width */
      max-height: 100%; /* Ensure the image doesn't exceed container height */
      object-fit: contain; /* Keeps the aspect ratio */
  }
  .rafflepage-machine-top2 {
    display: flex;
    background-color: #D1013e ;
    height: 32px;
    width: 500px;
  }
  .slotmachine-body-col {
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: center;
    align-items: center;
  }
  .slotmachine-body-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 24px 24px 0px 0px;
  }
  .slotmachine-body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logos-body {
    display: flex;
    flex-direction: row;
    height: 310px;
    width: 780px;
    justify-content: center;
    align-items: center;
    background-color: #0047AB ;
    border-radius: 24px 24px 0px 0px;
  }
  .slots-body {
    display: flex;
    flex-direction: row;
    height: 380px;
    width: 880px;
    justify-content: center;
    align-items: center;
    background-color: #38AA97 ;
    border-radius: 24px 24px 0px 0px;
  }
  .slotmachine-body-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: -13rem;
  }
  .slotmachine-shoulder {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    height: 120px;
    width: 30px;
    background-color: #D1013E ;
  }
  .slotmachine-shoulder2 {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    height: 120px;
    width: 15px;
    background-color: #850127 ;
    border-radius: 0px 24px 24px 0px;
  }
  .slotmachine-shaft {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    perspective: 300px; /* Add perspective to make the 3D rotation visible */
    transform-origin: center; /* Rotate from the top of the handle */
  }
  .slotmachine-shaft.pull-down {
    animation: handlePull 2s ease-in-out forwards; /* Trigger the 3D rotation animation only when pull-down class is added */
}
  .slotmachine-shaft1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 20px;
    background-color: #C0C0C0 ;
    border-radius: 0px 0px 0px 0px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4); /* Shadow for depth */
    border: 1px solid #A9A9A9; /* Light border for more detail */
  }
  .slotmachine-shaft-container {
    display: flex;
    justify-content: start;
    align-items: start;
    height: 300px;
    position: relative; /* To allow relative positioning of the handle */
  }
  .slotmachine-shaft-down {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-left: -1rem;
    height: 300px;
    transform-style: preserve-3d; /* Preserve 3D for better effect */
  }
  .slotmachine-shaft-up {
    display: flex;
    justify-content: start;
    align-items: start;
    height: 113px;
    width: 25px;
    background-color: #C0C0C0 ;
    border-radius: 0px 0px 16px 0px;
    margin-top: -1rem;
    z-index: 0;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4); /* Give depth */
    transform-style: preserve-3d;
  }
  .slotmachine-bulb {
    width: 50px;
    height: 50px;
    background-color: #D1013e; /* Yellow light bulb color */
    border-radius: 50%;
    margin-top: 1rem;
    z-index: 1;
}

/* Animation for pulling the handle down */
@keyframes handlePull {
  0% {
    transform: rotateX(0); /* Start in the upright position */
  }
  50% {
    transform: rotateX(90deg); /* Halfway through, rotate 90 degrees */
  }
  100% {
    transform: rotateX(0); /* Return to the original position */
  }
}

  .rafflePage-logos {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .rafflePage-hl {
    display: flex;
    background-color: #D1013E ;
    border-radius: 24px 24px 0px 0px; 
    height: 32px;
    width: 110%;
  }

  .lights-left-container,
.lights-right-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 1rem;
}

.lights-left,
.lights-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 280px; /* Adjust as needed */
    padding: 12px;
}

.lights-left {
  display: flex;
  align-items: start;
}
.lights-right {
  display: flex;
  align-items: end;
}

.light-bulb {
    width: 30px;
    height: 30px;
    background-color: #FFD700; /* Yellow light bulb color */
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.7); /* Glow effect */
    opacity: 1;
    animation: flash 1s infinite ease-in-out;
}

/* Animation for flashing effect */
@keyframes flash {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }
}

/* Add a delay for each light bulb to create staggered flashing effect */
.lights-left .light-bulb:nth-child(1),
.lights-right .light-bulb:nth-child(1) {
    animation-delay: 0.2s;
}
.lights-left .light-bulb:nth-child(2),
.lights-right .light-bulb:nth-child(2) {
    animation-delay: 0.4s;
}
.lights-left .light-bulb:nth-child(3),
.lights-right .light-bulb:nth-child(3) {
    animation-delay: 0.6s;
}
.lights-left .light-bulb:nth-child(4),
.lights-right .light-bulb:nth-child(4) {
    animation-delay: 0.8s;
}
.lights-left .light-bulb:nth-child(5),
.lights-right .light-bulb:nth-child(5) {
    animation-delay: 1s;
}

.rafflePage-header {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.7); /* Dark transparent background */
  align-items: center;
}
.rafflePage-header p {
  color: #fff;
}

.raffleMsg {
  color: #fff;
}
.rafflePage-body h3 {
  color: #fff; /* Make all headers white */
}

@keyframes credits-scroll {
  0% {
    top: 100%; /* Start from below the viewport */
    opacity: 1;
  }
  90% {
    top: -300%; /* Move upwards to above the viewport */
    opacity: 1;
  }
  100% {
    top: -500%; /* Fade out towards the end */
    opacity: 0;
  }
}

.winners-summary {
  position: relative;
  overflow: hidden; /* Ensures only the visible content is shown */
  height: 100vh; /* Full screen height for the scrolling area */
  width: auto;
  max-width: 80%; /* Limit table width to prevent overflow */
  margin: 0 auto; /* Center the table */
}

.winner-credits {
  position: absolute;
  top: 100%; /* Start from the bottom */
  left: 50%;
  transform: translateX(-50%); /* Center the content horizontally */
  width: 100%; /* Set width to match content */
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  color: white;
  animation: credits-scroll 30s linear infinite; /* Continuous scroll animation */
}

.winner-row {
  display: table-row;
}

.winner-summary-name,
.winner-summary-company,
.winner-summary-prize {
  display: table-cell;
  white-space: nowrap; /* Prevent text from wrapping */
  padding: 10px 15px;
}

/* Adjust column widths */
.winner-summary-name {
  width: 30%; /* Name takes up 40% of the table width */
  text-align: right; /* Align name to the right */
  font-size: 24px;
  font-weight: bold;
}

.winner-summary-company {
  width: 30%; /* Company takes up 30% of the table width */
  text-align: left; /* Align company to the left */
  font-size: 18px;
}

.winner-summary-prize {
  width: 20%; /* Prize takes up 30% of the table width */
  text-align: left; /* Align prize to the left */
  font-size: 18px;
}

.enddraw-list {
   width: 100%;
  border-collapse: collapse;
}

.enddraw-list th {
  font-size: 20px;
  padding-bottom: 10px;
}
.enddraw-list tr {
  height: 40px; /* Row height */
}

.overlay-cards {
  z-index: 1000;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  gap: 1rem;
}
.winners-overlay {
  z-index: 1000;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: start;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}
.overlay-banner {
  color: #fff;
  font-size: 36px;
  z-index: 1001;
}
.company-logo {
  width: 100%;      /* Let the width take up the full container */
  height: auto;     /* Maintain the aspect ratio based on width */
  max-height: 100%; /* Ensure the logo doesn’t exceed the container height */
  object-fit: contain; /* Ensure the image scales down if necessary without being distorted */
}
.company-logo {
  max-width: 130px;
  max-height: 130px;
}
.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}
.logo-container.rolling {
  animation: spin .4s ease-in-out infinite; /* Move animation to rolling class */
}

@keyframes spin {
  /* First half: Normal speed (0-50%) */
  0% { transform: translateY(0); }
  25% { transform: translateY(-25%); }
  50% { transform: translateY(-50%); }
  
  /* Second half: Gradual slow-down (50-100%) */
  65% { transform: translateY(-65%); }
  75% { transform: translateY(-75%); }
  85% { transform: translateY(-85%); }
  92% { transform: translateY(-92%); }
  96% { transform: translateY(-96%); }
  100% { transform: translateY(-100%); }
}

.winner-card {
  background-color: transparent;
  width: 300px;
  height: 150px;
  perspective: 1000px;
  cursor: pointer;
  transform-style: preserve-3d;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card.is-flipped {
  transform: rotateX(180deg); /* Flip effect when clicked */
}

.card-face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
}

.card-front {
  position: absolute;
  width: 300px;
  height: 150px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform: rotateX(0deg);
}

.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: rotateX(180deg);
}

.card-back p {
  color: #000;
}

/* Make the card-back have relative positioning for overlay */
.winner-card .card-back {
  width: 100%;
  height: 100%;
  position: absolute; /* Changed from relative */
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 1;
  transform: rotateX(180deg);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  overflow: hidden;
}
/* Overlay container for the card-back */
.winner-card .card-back .waive-prize-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);  /* Semi-transparent dark overlay (only on the overlay) */
  color: white;  /* Ensure text is visible over the dark background */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;  /* Ensure it overlays the content on card-back */
  padding: 1rem;
  border-radius: .5rem;
}

.waive-prize-overlay p {
  display: flex;
  flex-wrap: wrap;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  text-align: center;
}

/* Add a class for hover effect */
.winner-card .card-back.hover .waive-prize-overlay {
  opacity: 1;  /* Show overlay when hover class is added */
}

.prize-won, 
.winner-header, .winner-company  {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0rem;
  text-align: center;
}
.winner-header, .prize-won {
  font-size: 18px;
  font-weight: 700;
  margin: 1rem 0rem 1rem 0rem;
}
.winner-name {
  text-align: center;
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  margin: .25rem 0rem .25rem 0rem;
  white-space: normal; /* Allows the text to wrap to the next line */
  overflow-wrap: break-word; /* Breaks long words if necessary */
  word-break: break-word; /* Ensures long words are broken correctly */
  
}
.winner-company {
  font-size: 16px;
  font-weight: 400;
}
.prize-won {
  font-size: 32px;
}
.winners-summary {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Adding bg/border for card-back */
.card-back-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

/* Adding bg/border for card-front */
.card-front-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 150px;
}
.congrats-banner {
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  color: white;
  font-size: 2em;
  font-weight: bold;
}
.winners-body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow: hidden;
}







